<?xml version="1.0"?>
<config>
    <modules>
        <Siteimprove_Mage>
            <version>1.0.0</version>
        </Siteimprove_Mage>
    </modules>
    <global>
        <models>
            <siteimprove>
                <class>Siteimprove_Mage_Model</class>
                <resourceModel>siteimprove_resource</resourceModel>
            </siteimprove>
        </models>
        <blocks>
            <siteimprove>
                <class>Siteimprove_Mage_Block</class>
            </siteimprove>
        </blocks>
        <helpers>
            <siteimprove>
                <class>Siteimprove_Mage_Helper</class>
            </siteimprove>
        </helpers>
        <resources>
            <siteimprove_setup_catalog>
                <setup>
                    <module>Siteimprove_Mage</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </siteimprove_setup_catalog>
            <siteimprove_setup>
                <setup>
                    <module>Siteimprove_Mage</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </siteimprove_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Siteimprove_Mage after="Mage_Adminhtml">Siteimprove_Mage_Adminhtml</Siteimprove_Mage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <siteimprove>
                    <file>siteimprove.xml</file>
                </siteimprove>
            </updates>
        </layout>
        <translate>
            <modules>
                <siteimprove_mage>
                    <files>
                        <default>Siteimprove_Mage.csv</default>
                    </files>
                </siteimprove_mage>
            </modules>
        </translate>
        <events>

            <!-- Cms page save event -->
            <cms_page_prepare_save>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_cms</class>
                        <method>cmsPagePrepareSave</method>
                    </siteimprove_mage>
                </observers>
            </cms_page_prepare_save>
            <cms_page_save_commit_after>
                <observers>
                    <siteimprove>
                        <type>singleton</type>
                        <class>siteimprove/observer_cms</class>
                        <method>cmsPageSaveCommitAfter</method>
                    </siteimprove>
                </observers>
            </cms_page_save_commit_after>

            <!-- Cms page various events -->
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_cms</class>
                        <method>adminhtmlPageEditPrepareForm</method>
                    </siteimprove_mage>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>

            <!-- Category save events -->
            <catalog_category_prepare_save>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_category</class>
                        <method>catalogCategoryPrepareSave</method>
                    </siteimprove_mage>
                </observers>
            </catalog_category_prepare_save>
            <catalog_category_save_commit_after>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_category</class>
                        <method>adminhtmlCategorySaveCommitAfter</method>
                    </siteimprove_mage>
                </observers>
            </catalog_category_save_commit_after>
            <controller_action_postdispatch>
                <observers>
                    <siteimprove_mage_catalog_category>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_category</class>
                        <method>adminhtmlControllerActionPostDispatch</method>
                    </siteimprove_mage_catalog_category>
                </observers>
            </controller_action_postdispatch>

            <!-- Category various events -->
            <adminhtml_catalog_category_edit_prepare_form>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_category</class>
                        <method>adminhtmlCategoryEditPrepareForm</method>
                    </siteimprove_mage>
                </observers>
            </adminhtml_catalog_category_edit_prepare_form>

            <!-- Product save events -->
            <catalog_product_prepare_save>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product</class>
                        <method>productPrepareSave</method>
                    </siteimprove_mage>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_commit_after>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product</class>
                        <method>adminhtmlProductSaveCommitAfter</method>
                    </siteimprove_mage>
                </observers>
            </catalog_product_save_commit_after>
            <controller_action_postdispatch>
                <observers>
                    <siteimprove_mage_catalog_product>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product</class>
                        <method>adminhtmlControllerActionPostDispatch</method>
                    </siteimprove_mage_catalog_product>
                </observers>
            </controller_action_postdispatch>

            <!-- Product various events -->
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <siteimprove_mage>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product_attribute</class>
                        <method>adminhtmlProductAttributeEditPrepareForm</method>
                    </siteimprove_mage>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <core_block_abstract_to_html_before>
                <observers>
                    <siteimprove_mage_catalog>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product_attribute</class>
                        <method>addColumnToProductAttributeGrid</method>
                    </siteimprove_mage_catalog>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_block_html_before>
                <observers>
                    <siteimprove_mage_catalog>
                        <type>singleton</type>
                        <class>siteimprove/observer_catalog_product</class>
                        <method>sortProductAttributeGridColumns</method>
                    </siteimprove_mage_catalog>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <default>
        <siteimprove>
            <general>
                <enabled>1</enabled>
            </general>
            <catalog>
                <notify_about_url_rewrite_config>1</notify_about_url_rewrite_config>
            </catalog>
        </siteimprove>
    </default>
</config>
